.about {
  background-color: #e2d784;
  height: 85vh;
  align-items: center;
  justify-content: center;
}

.flex-container#flex-about {
  flex-flow: row wrap;
  padding: 20px;
  background-color: white;
  width: 80%;
  height: 80%;
  align-items: stretch;
  justify-content: space-between;
}

.flex-container#flex-about,
h1,
.about-description,
.about-skills {
  margin: 20px;
}

.flex-container#flex-about h1 {
  font-size: 3rem;
  background-color: coral;
  flex-basis: 100%;
}

.flex-container#flex-about h2 {
  font-size: 2rem;
}

.about-skills {
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  background-color: #062c30;
  flex-basis: 50%;
}

.about-description {
  background-color: #05595b;
  flex-basis: 40%;
}

.about-description p {
  font-size: 1.5rem;
  line-height: 30px;
  font-weight: lighter;
}

.skill {
  padding: 15px;
}
