.about {
  background-color: #e2d784;
  align-items: center;
  justify-content: center;
}

#flex-about {
  display: inherit; /*display flex*/
  flex-flow: row wrap;
  padding: 20px;
  margin: 50px 0px 50px 0px;
  background-color: white;
  align-items: stretch;
  justify-content: center;
  align-items: stretch;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: 85%;
}

#flex-about h1,
.about-description,
.about-skills {
  margin: 20px;
  padding: 20px;
  flex-grow: 1;
  flex-shrink: 1;
}

#flex-about h1,
#flex-about h2 {
  color: black;
}

#flex-about h1 {
  font-size: 3rem;
  background-color: coral;
  flex-basis: 100%;
}

#flex-about h2 {
  font-size: 2rem;
}

.about-skills {
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: max-content;
  background-color: #062c30;
  flex-basis: 30%;
  padding-left: 130px;
  padding-right: 130px;
}

.about-description {
  background-color: #05595b;
  flex-basis: 30%;
}

.about-description p {
  font-size: 1.5rem;
  line-height: 30px;
  font-weight: lighter;
  padding-right: 100px;
}

#btn-cv-container {
  justify-content: flex-start;
  align-items: center;
  background-color: aquamarine;
  padding: 10px 10px 10px 0px;
}

.download-btn {
  background-color: #00c897;
  border-radius: 5px;
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 2rem;
  padding: 10px 10px 10px 10px;
}

/*-----------------------------------------------------------*/
/*GRID SKILLS*/

.skill-container {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px;
}

.skill-img {
  height: 64px;
  width: 64px;
}

.skill-img#react {
  background-image: url(/src/img/react.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.skill-img#javascript {
  background-image: url(/src/img/js.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.skill-img#node {
  background-image: url(/src/img/nodejs.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.skill-img#css {
  background-image: url(/src/img/css-3.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.skill-img#git {
  background-image: url(/src/img/git.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.skill-name {
  font-size: 2rem;
  margin-top: 10px;
  text-align: center;
  font-weight: 400;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.grid-title {
  grid-column: span 3;
}
