.about-description,
.about-skills {
  margin: 20px;
  padding: 20px;
  flex-grow: 1;
  flex-shrink: 1;
}

.about-skills {
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: max-content;
  background-color: inherit;
  flex-basis: 30%;
}

.about-description {
  background-color: inherit;
  flex-basis: 30%;
}

.section-paragraph#about-me {
  line-height: 30px;
  padding: 20px 50px 20px 0px;
}

.cv-download {
  background-color: #00c897;
  border-radius: 5px;
  color: white;
  font-size: 2rem;
  padding: 10px 10px 10px 10px;
}

.cv-download:hover {
  background-color: darkslategray;
}


/*-----------------------------------------------------------*/
/*GRID SKILLS*/

.skill-container {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px;
}

.grid-title {
  grid-column: span 3;
}

/*Media querys*/
@media (max-width: 850px) {
  #about {
    flex-direction: column;
  }

  .about-skills {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 550px) {
  .section-paragraph#about-me {
    text-align: justify;
    padding-right: 0px;
    padding-left: 0px;
  }

  #btn-cv-container {
    justify-content: center;
    align-items: center;
  }

  .about-skills {
    grid-template-columns: 1fr 1fr;
  }

  .grid-title {
    grid-column: span 2;
  }
}
