/*<------------------------------------------------------------------>*/
*{
  margin: 0;
  padding: 0;
}

html {
  font-size: 10px;
}

body {
  min-height: 100vh;
  max-width: 100%;
}

:root {
  --white: #ffffff;
  --grey: #414141;
  --red: #d62d20;
  --amarillo: #ffa700;
  --blue: #3367d6;
  --orange: #e34c26;
  --green: #00c897;
  --blueReact: #61DBFB;
}

/*Globals*/
.flex-container {
  display: flex;
}

.grid-container {
  display: grid;
}

.content-section {
  align-items: center;
  justify-content: center;
}

.content-section#section2 {
  margin-top: 50px;
}

.content-section#section5 {
  margin-bottom: 50px;
}

.flex-content {
  /*this class should have a representative name*/
  display: flex; /*display flex*/
  flex-flow: row wrap;
  padding: 20px;
  margin: 50px 0px 50px 0px;
  justify-content: center;
  align-items: stretch;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: 85%;
  border-radius: 15px;
  background-color: white;
  /* box-shadow: 0px 0px 4px gray; */
  max-width: 1280px;
  opacity: 0;
  visibility: hidden;
  transition: opacity 1s;
}

.section-title,
.section-subtitle,
.section-subtitle-intro,
.section-paragraph {
  color: var(--grey);
}

.section-title {
  font-size: 3.5rem;
  flex-basis: 100%;
  margin: 20px 20px 10px 20px;
  padding: 20px;
  flex-grow: 1;
  flex-shrink: 1;
}

.section-subtitle {
  font-size: 2.5rem;
  line-height: 40px;
}

.section-subtitle-intro {
  font-weight: bolder;
  font-size: 1.8rem;
  text-align: left;
  width: 100%;
  padding: 0px 20px 20px 20px;
  margin: 0px 20px 20px 20px;
}

.section-paragraph {
  font-size: 1.6rem;
  font-weight: 500;
  padding: 10px;
}

.img-64px {
  height: 64px;
  width: 64px;
}

.img-description {
  font-size: 2rem;
  padding: 10px;
  text-align: center;
  font-weight: 400;
}

.refButton {
  justify-content: flex-start;
  align-items: center;
  padding: 5px;
}

p,
li,
h1,
h2,
h3,
h4,
h5,
h6, 
.refButton{
  font-family: "Roboto", sans-serif;;
}