/*<------------------------------------------------------------------>*/
/*Styles apllied to Navbar component*/

#logo-navbar-container {
  width: 100%;
  position: absolute;
  z-index: 1;
  justify-content: space-between;
  flex-wrap: wrap;
}

/*both have a 50% of the total of logo-navbar-container*/
.navbar,
section#logo {
  background-color: transparent;
  align-items: center; /*vertical center*/
}

.navbar {
  justify-content: center;
}

section#logo {
  width: fit-content;
  justify-content: flex-start;
}

.navbar ul {
  list-style: none;
  justify-content: center;
  padding: 0;
}

.navbar li {
  margin: 5px;
  font-weight: bold;
  color: white;
}

/*responsive logo*/
section#logo #logo {
  height: 50px;
  width: auto;
}

/*<------------------------------------------------------------------>*/
/*Styles apllied to Banner component*/

#banner-container {
  min-height: 100vh;
  position: relative;
  background: linear-gradient(rgba(5, 7, 12, 0.75), rgba(5, 7, 12, 0.75)),
    url(../img/programacion.jpg) no-repeat center center fixed;
  /*background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed*/
  background-size: cover;
}

section#init-profile-container {
  position: absolute;
  top: 25%;
  left: 25%;
  width: 50%;
  height: 50%;
}

section#init-profile-container #profile-img {
  height: 50px;
  width: auto;
  border-radius: 50%;
}
