.grid-container#portfolio-detail {
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: max-content;
}

.portfolio-item#proyect-one {
  background-image: url(../assets/img/municipalidad.png);
}

.portfolio-item#proyect-two {
  background-image: url(../assets/img/electoral.jpg);
}

.portfolio-item#proyect-three {
  background-image: url(../assets/img/sisconv.jpg);
}

.portfolio-item {
  width: 350px;
  height: 200px;
  margin: 15px;
  background-repeat: no-repeat;
  background-position: center;
  box-shadow: 0px 0px 0px 0.5px gray;
  border-radius: 5px;
  transition: background 3s;
}

.portfolio-item:hover {
  background-size: 150%;
}

.item-overlay {
  visibility: hidden;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  border-radius: inherit;
  transition: background-color 1s;
}

.item-overlay.active {
  visibility: visible;
  background-color: rgba(5, 7, 12, 0.8);
}

.dark-background-text {
  color: white;
  font-weight: 500;
}

/*Media querys*/
@media (max-width: 1280px) {
  .grid-container#portfolio-detail {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: max-content;
  }
}

/*Media querys*/
@media (max-width: 850px) {
  .grid-container#portfolio-detail {
    grid-template-columns: 1fr;
    grid-template-rows: max-content;
  }
}

/*Media querys*/
@media (max-width: 450px) {
  .portfolio-item {
    width: 300px;
    height: 150px;
  }
}

/*Media querys*/
@media (max-width: 390px) {
  .portfolio-item {
    width: 275px;
    height: 125;
  }
}
