.grid-container#portfolio-detail {
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: max-content;
}

.portfolio-item{
  width: 350px;
  height: 200px;
  margin: 15px;
  box-shadow: 0px 0px 0px 0.5px gray;
  border-radius: 5px;
  overflow: hidden;
}

.image-container {
  position: relative;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  -webkit-transition: all .5s ease;
  -moz-transition: all .5s ease;
  -ms-transition: all .5s ease;
  -o-transition: all .5s ease;
  transition: all .5s ease;
}

.image-container:hover {
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -o-transform: scale(1.2);
  -ms-transform: scale(1.2); /* IE 9 */ 
  transform: scale(1.2);
}

.image-container#proyect-one {
  background-image: url(../assets/img/municipalidad.png);
}

.image-container#proyect-two {
  background-image: url(../assets/img/electoral.jpg);
}

.image-container#proyect-three {
  background-image: url(../assets/img/sisconv.jpg);
}

.item-overlay {
  height: 0;
  width: 100%;
  position: absolute;
  bottom: 0;
  left:0;
  visibility: hidden;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: inherit;
  transition: height 0.5s ease;
}

.item-overlay.active {
  height: 100%;
  visibility: visible;
  background-color: rgba(5, 7, 12, 0.8);
}

.dark-background-text {
  color: white;
  font-weight: 500;
}

/*Media querys*/
@media (max-width: 1280px) {
  .grid-container#portfolio-detail {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: max-content;
  }
}

/*Media querys*/
@media (max-width: 850px) {
  .grid-container#portfolio-detail {
    grid-template-columns: 1fr;
    grid-template-rows: max-content;
  }
}

/*Media querys*/
@media (max-width: 450px) {
  .portfolio-item {
    width: 300px;
    height: 150px;
  }
}

/*Media querys*/
@media (max-width: 390px) {
  .portfolio-item {
    width: 275px;
    height: 125;
  }
}
