.service-item,
#services-detail {
  margin: 15px;
  flex-grow: 0;
  flex-shrink: 1;
}

.service-item {
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: fit-content;
}

#services-detail {
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: max-content;
  flex-basis: 85%;
}

.section-paragraph.description {
  text-align: center;
}

.service-img:hover {
  opacity: 50%;
}

/*Media querys*/
@media (max-width: 850px) {
  #services-detail {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 550px) {
  #services-detail {
    grid-template-columns: 1fr;
  }
}
