.flex-services,
.service-item,
#services-detail {
  margin: 20px;
  padding: 20px;
  flex-grow: 1;
  flex-shrink: 1;
}

.service-item {
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#services-detail {
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: max-content;
  background-color: white;
  flex-basis: 90%;
}

.section-paragraph.description {
  text-align: center;
}

/*Media querys*/
@media (max-width: 850px) {
  #services-detail {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 550px) {
  #services-detail {
    grid-template-columns: 1fr;
  }
}
